{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
    <div class="content">
        <img src="https://via.placeholder.com/350" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repudiandae, asperiores quo doloribus rem
            numquam.</p>
        <p>Voluptate voluptatem iste numquam nisi exercitationem optio accusamus quidem ab soluta dolorum, a, quos
            asperiores?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ratione ullam illum quo provident porro cupiditate. Quia rem officia minus recusandae id harum, delectus quas perspiciatis culpa quidem molestias voluptatum?
        Iste quod, repudiandae nostrum est modi inventore, impedit velit corporis laborum alias perspiciatis similique non maiores nemo dolor sit magnam necessitatibus magni? Illum quidem consectetur, earum dicta totam molestiae vel.
        Atque cumque sequi beatae consequatur impedit saepe laudantium distinctio doloremque aut voluptates explicabo veniam fuga rem qui itaque, sed, soluta doloribus commodi quas. Quis tenetur praesentium, deleniti vitae ut aliquam?</p>
        <a href="{{ path('blog') }}" class="btn btn-primary">Retour</a>
    </div>
</article>
{% endblock %}